.home-page{
    .text-zone{
        position: absolute;
        left: 20%;
        top: 50%;
        width: 70%;
        transform: translateY(-50%);
        max-height: 90%;
    }
    h1{
        font-size: 3.5em;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &::before{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #82D2D5;
            font-size: 18px;
            position: absolute;
            margin-top: -40%;
            left: 15px;
            opacity: .5;
        }

        &::before{
            content: '<h1/>';
            font-family: 'La Belle Aurore';
            color: #82D2D5;
            font-size: 18px;
            position: absolute;
            margin-top: -40%;
            margin-left: 20;
            animation: fadeIn 1s 1.7s backwards;
            opacity: .5;
        }
    }
    h2{
        color:#1c3342ab;
        font-weight: 400;
        letter-spacing: 3px;
        margin-top: 2%;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button{
        background: #1C3342;
        color: #DAE4EA;
        font-size: 2em;
        letter-spacing: 5px;
        font-weight: 400;
        text-decoration: none;
        padding: 10px 18px;
        margin-top: 2%;
        float:left;
        border: 1.5px solid #1C3342;
        animation: fadeIn 1s 1.9s backwards;

        &:hover{
            background: #DAE4EA;
            color: #1C3342;

        }
    }
}